@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  box-sizing: border-box;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}


.button_1{
  height:38px;
  background:#1E88E5;
  border:0;
  font-family: 'Comfortaa';
  font-weight: bold;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

/* Header **/
header{
  background:#FFF;
  color:#121212;
  padding:20px 0px 20px 0px;
  min-height:70px;
}

header #branding h1{
  float: right;
}



header .highlight{
  color:#1E88E5;
  font-weight:bold;
}

/* Showcase */
#showcase{
  padding: 70px;
  min-height:650px;
  background:url('../img/CS-01.png') no-repeat 0;
  background-size:100% 100%;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#1E88E5;
  font-family: 'Comfortaa';
  background:#FFF;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}


/* Boxes */
#boxes{
  margin-top:20px;
  margin-bottom: 20px;
}

.section-header div{
    background-color: #121212;
    color: #FFF;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
}

.section-header div h3{
  font-size: 30px;
  font-family: 'Roboto';
  vertical-align: center;
  text-align: center;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  border-width: 3px;
  padding:21px;
}

#boxes .box-profile{
  float:left;
  text-align: center;
  border-radius: 20px;
  border:1px solid black;
  padding:21px;
  margin-left: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width:300px;
  text-align: center;
  font-family: 'Comfortaa';
}

#boxes .box-profile img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#boxes .box-profile #logos a{
  margin-left: 8px;
}
#boxes .box-profile #logos a i{
  font-size: 20px;
  color: #616161;
}

#boxes .box-profile-team{
  float:left;
  text-align: center;
  border-radius: 20px;
  border:1px solid black;
  padding:21px;
  margin-left: 53px;
  margin-top: 30px; 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width:25%;
  font-family: 'Comfortaa';
}

#boxes .box-profile-team img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#boxes .box-profile-team #logos a{
  margin-left: 8px;
}
#boxes .box-profile-team #logos a i{
  font-size: 20px;
  color: #616161;
}


#boxes .box-sponsor{
  float:left;
  text-align: center;
  vertical-align: center;
  align-content: center;
  width:45%;
  border-width: 3px;
  padding:10px;
}

#boxes .box-sponsor img{
  width: 45%;
  height: 45%;
}

#boxes .box-sponsor #mozilla-image img{
  margin-top: 10px;
}

#boxes .box p{
  font-family: 'Comfortaa';
  text-align: center;
}
#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}


/* Time Line*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #121212;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containers{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containers::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #1E88E5;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #121212;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #121212 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #121212;
  color: #FFF;
  font-size: 16px;
  font-family: 'Comfortaa';
  position: relative;
  border-radius: 6px;
}

#meet-team{
  margin-top: 20px;
}

#meet-team{
  border-radius: 20px;
  border-width: 1px;
}

footer{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:20px;
  color:#ffffff;
  font-size: 16px;
  font-family: 'Comfortaa';
  background-color:#121212;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header img,
  header #branding h1,
  #newsletter h1,
  #newsletter form,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  header{
    padding:0px; 
  }
  header img{
    width: 45px;
  }
  #boxes .box{
    width: 95%;
    padding: 10px;
  }

  #boxes .box-sponsor{
    width: 95%;
    padding: 10px;
  }
  .section-header div{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    }
  .section-header div h3{
    font-size: 25px; 
    }
  .container{
    vertical-align: center;
    text-align: center;
  }

  #boxes .box{
    align-content: center;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }


  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:96%;
    margin-bottom:5px;
  }


#boxes .box-profile{
  float:none;
  width: 80%;
  margin: 10px;
}


#boxes .box-profile-team{
  float:none;
  width: 80%;
  margin: 10px;
}

  /*Tiime Line */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .containers{
  width: 75%;
  margin: 0px;
  padding-left: 65px;
  padding-right: 20px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .containers::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #121212 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right{
  left: 0%;
  }
  .left{
    left: 0px;
  }


#showcase{
  margin-top:-90px; 
  min-height:650px;
  background:url('../img/CS-01.png') no-repeat 0;
  background-size:100% 100%;
}

  footer{
    width: 100%;
    font-size: 12px;
  }
}